.textSurrounded {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: 18%; 
    margin-right: 18%; 
}

.deal {
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 768px) {
    .deal {
        flex-direction: column;
    }
}