.textBlocDiv {
    margin-top: var(--nav-bars-height);
    width: 100%;
}

.navigationDiv {
    position: fixed;
    width: 100%;
}

.bottomNav {
    bottom: 0;
}

.navigationButton {
    height: var(--nav-bars-height);
    border: none;
    width: 100%;
    background-color: #0ed145;
    color: white;
}