.footer {
    background-color: black;
    color: white;
    /*internal arrangement*/
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    /*positionning in the page*/
    bottom: 0;
}

.contact {
    color: white;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}