.firstRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1em;
}

.contact {
    color: black;
    text-decoration: none;
}

.secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.border {
    border-style: solid;
    border-color: rgb(101, 101, 101);
    border-radius: 30px;
    border-width: 3px;
    background-color: #ffd087;
    padding: 10px;
}

/*deal side*/
.deal {
    width: 48%;
    text-align: center;
}

.modalites li {
    list-style-type: none;
    margin-bottom: 0.8rem;
}

/*form side*/
.form {
    width: 48%;
    right: 0;
}

.form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.border input,
.border select,
.border textarea {
    color: black;
    background-color: #ffd087;
    border: none;
    width: 100%;
    font-size: 1.1em;
    resize: none;
}

.mailContent {
    min-height: 200px;
    flex: 1;
    display: flex;
}

.questionRow {
    display: flex;
    flex-direction: column;
}

.submitSpeech {
    text-align: center;
}

/*Submit button style*/
.submitButton {
    cursor: pointer;
}

.submitButton:hover {
    background-color: #e7bd79;
}

/*pop up that appears after the form is validated*/
.popupMessage {
    position: fixed;
    top: 30%;
    right: auto;
    left: auto;
    padding: 10px;
}

@media (max-width: 768px) {
    .firstRow, .secondRow {
        flex-direction: column;
    }

    .form, .deal {
        width: 100%;
        margin-bottom: 1em;
    }
}