.firstRow {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1em;
}

.contact {
    color: black;
    text-decoration: none;
}

.secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.border {
    border-style: solid;
    border-color: rgb(101, 101, 101);
    border-radius: 30px;
    border-width: 3px;
    background-color: #ffd087;
    padding: 10px;
}

/*deal side*/
.deal {
    width: 48%;
    text-align: center;
}

.modalites li {
    list-style-type: none;
    margin-bottom: 0.8rem;
}

/*form side*/
.form {
    width: 48%;
    right: 0;
}

@media (max-width: 768px) {
    .firstRow, .secondRow {
        flex-direction: column;
    }

    .form, .deal {
        width: 100%;
        margin-bottom: 1em;
    }
}