body {
  /*prevents auto margin*/
  margin: 0;
  /*Background image*/
  background-image: url("/public/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/*affects only the element with the id "root"*/
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*affects all the document*/
:root {  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*Delete next two lines ?*/
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
